@font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url(/assets/fonts/Inter-Light.ttf);
}
@font-face {
    font-family: "Inter";
    font-weight: 500;
    src: url(/assets/fonts/Inter-Regular.ttf);
}


@font-face {
    font-family: "Inter";
    font-weight: 600;
    src: url(/assets/fonts/Inter-SemiBold.ttf);
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url(/assets/fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: "Inter";
    font-weight: 800;
    src: url(/assets/fonts/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: "Inter";
    font-weight: 900;
    src: url(/assets/fonts/Inter-Black.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url(/assets/fonts/Roboto-Regular.ttf);
}


@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url(/assets/fonts/Roboto-Medium.ttf);
}


@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url(/assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Kanit";
    font-weight: 700;
    src: url(/assets/fonts/Kanit-Bold.ttf);
}

@font-face {
    font-family: "Rubik";
    font-weight: 500;
    src: url(/assets/fonts/Rubik-Medium.ttf);
}

@font-face {
    font-family: "Boeing";
    font-weight: 700;
    src: url(/assets/fonts/BOEING-style.ttf);
}
@font-face {
    font-family: "Boeing";
    font-weight: 300;
    src: url(/assets/fonts/BOEING-style.ttf);
}

:root,
html {
    overflow-x: hidden;
    font-family: "Roboto", Arial, sans-serif;
    scroll-behavior: smooth;
}

* {
    background: none;
}

.small-text-shadow {
    text-shadow: 5px 3px 0 #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}
